.conteudo-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.conteudo-capa img {
  border: 5px rgb(134, 130, 130) solid;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.conteudo-descricao{
  margin-top: 15px;
}

.conteudo-descricao p{
  color: grey;
  margin-top: 25px;
}
