<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="Artigos">
  <div class="big-card">
    <app-big-card
    cardImagem="https://i.pinimg.com/236x/91/a1/74/91a174f76a357d5f97ce7dc930af4eb2.jpg"
    cardTitulo="Halo 2 temporada já tem data de estréia, confiram..."
    cardDescricao="Com o retorno de Halo se aproximando - os dois primeiros episódios da segunda temporada chegam ao Paramount+ em 8 de fevereiro "
    >
    </app-big-card>
  </div>
  <div class="small-card">
    <app-small-card
    cardImg="https://i.pinimg.com/236x/9c/ce/4b/9cce4b7d1e156e592087e17cd75077a3.jpg"
    cardSubtitle="As filmagens de Deadpool 3 estão encerradas. O ator Ryan Reynolds confirmou o fim dos trabalhos em texto emotivo publicado nas redes sociais, no qual agradece à equipe e aos amigos Hugh Jackman e Shawn Levy."
    >
  </app-small-card>
    <app-small-card
    cardImg="https://i.pinimg.com/474x/9d/2f/26/9d2f264042baf4b2295c205253a77bad.jpg"
    cardSubtitle="‘Mestres do Ar’: Minissérie de guerra com Austin Butler estreia na Apple TV+!"
    >
  </app-small-card>
    <app-small-card
    cardImg="https://i.pinimg.com/236x/85/f4/ad/85f4adcaba1b780850b7e93ac6bfa185.jpg"
    cardSubtitle="Acaba de desembarcar no Prime Video uma nova série baseada em um dos heróis mais clássicos da ficção: Zorro. Criada pelo espanhol Carlos Portela, a trama acompanha o personagem Diego de la Vega (Miguel Bernardeau), um homem motivado pela vingança."
    >

    </app-small-card>
  </div>
</div>
